<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <meta charset="UTF-8">
    <title>Каталог Экип24</title>
</head>
<body>
    <div class="container">
        <div th:replace="header"></div>
        <h1 th:text="#{main.list}"></h1>
        <div id="gallery">
            <table>
                <tr th:each="person: ${persons}">
                    <td th:text="${person.fullName}"/>
                    <td th:text="${person.dateOfBirth}"/>
                </tr>
            </table>
        </div>


        <footer>
            <div>
                &copy; Все права защищены.
            </div>
        </footer>
    </div>
</body>
</html>